*.o
.*.d
.ninja*
build.ninja
.redo
.*.swp
disksurvey
tags
libebb.a
src/web_app.c
web/app.inc
web/app.js
web/app.css
web/coffee.js
tests/test_disk_mgr
src/disk_def.h
src/protocol.pb-c.[hc]
disksurvey.dat*
*.orig
*.rej
src/tmp/
